*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

html{
    scroll-snap-type: y mandatory;
}

section{
    height: 100vh;
    scroll-snap-align: start;
}

header{
    background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/homebck.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 40px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 20px;
}

ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: aliceblue;
    color: black;
}

main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    font-size: 70px;
    font-family:Helvetica;
    color: aliceblue;
}

.button{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.btn1{
    width:100%;
    max-width:40px; 
}

.btn2{
    width:100%;
    padding-left: 10px;
    max-width:40px;   
}

.btn3{
    width:100%;
    padding-left: 10px;
    max-width:40px;
}
