.index{
    font-family: Century;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/homebck.jpg);
}

nav{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
    padding: 10px;
    font-size: 20px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

 li{
    position: relative;
    display: inline-block;
    padding: 5px;
}

li a{
    text-decoration: none;
    color: aliceblue;
    transition: 0.5 ease;
    padding: 5px;
}

ul li a:hover{
    background-color: aliceblue;
    color: black;
    padding: 5px;
}

main{
    padding: 10px;
}

.title {
    text-align: center;
    color: aliceblue;
    font-size: 40px;
}

#socialMediaTable {
    margin: 0 auto;
    
}

#socialMediaTable img {
    width: 30px;
    padding: 5px;
    align-content: center;
    height: 30px;
}

input{
    display: none;
}

.container{
    width: 100%;
    text-align: center;
}

.ourgallery{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
    }

.ourgallery::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}

.top-content {
    background-color: rgb(186, 230, 244);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}

.photogallery{
    height: 100%;
    background-color: rgb(93, 167, 231);
    line-height: 60px;
    padding: 0 50px;
    color: brown;
}

label{
    display: inline-block;
    height: 100%;
    margin: 0 10px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: .5s;
}

label:hover {
    color: lightcyan;
}

.photo-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.fotos {
    position: relative;
    height: 230px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
}

.fotos img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;

}

.fotos::before {
    content: "Photo Gallery";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

.fotos::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: black;
    transition: .3s;
    opacity: 50%;
}

.fotos:hover::after{
    height: 100%;
    opacity: 30%;
}

.fotos:hover::before{
    margin-top: 0;
    opacity: 1;
}

#check2:not(:checked) ~ .container .photo-gallery .bali,
#check3:not(:checked) ~ .container .photo-gallery .dubai, 
#check4:not(:checked) ~ .container .photo-gallery .italia,
#check5:not(:checked) ~ .container .photo-gallery .japao,
#check6:not(:checked) ~ .container .photo-gallery .marrocos{
    opacity: 0;
    transform: scale(0);
    position: relative;
}

#check1:checked ~ .container .photo-gallery .fotos{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#check2:checked ~ .container .photo-gallery .bali,
#check3:checked ~ .container .photo-gallery .dubai, 
#check4:checked ~ .container .photo-gallery .italia,
#check5:checked ~ .container .photo-gallery .japao,
#check6:checked ~ .container .photo-gallery .marrocos
{
    opacity: 1;
    transform: scale(1);
    position: absolute;
    transition: .5s;
}  