.index{
    font-family: Century;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/homebck.jpg);
}

nav{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
    padding: 10px;
    font-size: 20px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

 li{
    position: relative;
    display: inline-block;
    padding: 5px;
}

li a{
    text-decoration: none;
    color: aliceblue;
    transition: 0.5 ease;
    padding: 5px;
}

ul li a:hover{
    background-color: aliceblue;
    color: black;
    padding: 5px;
}

main{
    padding: 10px;
}

.title {
    text-align: center;
    color: aliceblue;
    font-size: 40px;
}

#socialMediaTable {
    margin: 0 auto;
    
}

#socialMediaTable img {
    width: 30px;
    padding: 5px;
    align-content: center;
    height: 30px;
}

.gallery{

}

input{
    display: none;
}

.container{
    width: 100%;
    text-align: center;
}

.ourgallery{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
    }

.ourgallery::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}

.top-content {
    background-color: rgb(186, 230, 244);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
}

