.index{
    font-family: Century;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/homebck.jpg);
}

nav{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
    padding: 10px;
    font-size: 20px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

 li{
    position: relative;
    padding: 5px;
}

li a{
    text-decoration: none;
    color: aliceblue;
    transition: 0.5 ease;
    padding: 5px;
}

ul li a:hover{
    background-color: aliceblue;
    color: black;
    padding: 5px;
}

.navmenu li a{
    text-decoration: none;
    color: rgb(241, 161, 115);
    transition: 0.5 ease;
    padding: 5px;
}


main{
    padding: 10px;
    position: relative;
   
}

.title {
    text-align: center;
    color: aliceblue;
    font-size: 40px;
}

#socialMediaTable {
    margin: 0 auto;
    
}

#socialMediaTable img {
    width: 30px;
    padding: 5px;
    align-content: center;
    height: 30px;
}

.inputgallery{
    display: none;
}

.container{
    width: 100%;
    text-align: center;
}

.ourgallery{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 100px 0;
    }

.ourgallery::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}

.top-content {
    background-color: rgb(214, 195, 143);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}

.photogallery{
    height: 100%;
    background-color: rgb(241, 161, 115);
    line-height: 60px;
    padding: 0 50px;
    color: aliceblue;
}

.labelgallery{
    display: inline-block;
    height: 100%;
    margin: 0 10px;
    line-height: 60px;
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
    transition: .5s;
}

.labelgallery:hover {
    color: black;
}

.photo-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.fotos {
    position: relative;
    height: 230px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
}

.fotos img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;

}

.fotos::before {
    content: "Photo Gallery";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

.fotos::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: black;
    transition: .3s;
    opacity: 50%;
}

.fotos:hover::after{
    height: 100%;
    opacity: 30%;
}

.fotos:hover::before{
    margin-top: 0;
    opacity: 1;
}

#check2:not(:checked) ~ .container .photo-gallery .bali,
#check3:not(:checked) ~ .container .photo-gallery .dubai, 
#check4:not(:checked) ~ .container .photo-gallery .italia,
#check5:not(:checked) ~ .container .photo-gallery .japao,
#check6:not(:checked) ~ .container .photo-gallery .marrocos{
    opacity: 0;
    transform: scale(0);
    position: relative;
}

#check1:checked ~ .container .photo-gallery .fotos{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#check2:checked ~ .container .photo-gallery .bali,
#check3:checked ~ .container .photo-gallery .dubai, 
#check4:checked ~ .container .photo-gallery .italia,
#check5:checked ~ .container .photo-gallery .japao,
#check6:checked ~ .container .photo-gallery .marrocos
{
    opacity: 1;
    transform: scale(1);
    position: absolute;
    transition: .5s;
}  



.aboutimg{
    width: 500px;
    height: auto;
}

.container1{
    width: 1120px;
    max-width: 95%;
    display: flex;
    padding: 25px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.containercontacts{
    align-items: center;
    position: absolute;
    display: flex;
    justify-content: center;

    margin: 100px;
}

form {
   margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: block;
    text-align: center;
    width: 100%;
    max-width: 30rem;
  }


.labelcontacts, .inputcontacts, #mensage, .buttoncontacts{
    width: 100%;
  font: inherit;
  padding: 1.50rem;
  font-weight: 700;
}

.inputcontacts, #mensage,.buttoncontacts {
  width: 100%;
  font: inherit;
  padding: 1.25rem;
  font-weight: 700;
}

.inputcontacts, #mensage {
  margin-bottom: 1rem;
  color: white;
  background: #323644;
  border: 0.125rem solid transparent;
  border-radius: 0.5rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.inputcontacts:hover,.inputcontacts:focus,#mensage:hover,#mensage:focus {
  outline: none;
  border-color: #1d90f5;
  box-shadow: 0 0 0 0.17500rem #26344a;
}

.labelcontacts {
  margin-bottom: 0.75rem;
  color: #84868f;
}

#mensage {
  min-height: 12.5rem;
  resize: vertical;
}

.buttoncontacts {
  border: none;
  border-radius: 99px;
  color: white;
  background: #1d90f5;
  cursor: pointer;
  transition: 0.3s;
}

.buttoncontacts:hover,
.buttoncontacts:focus {
  outline: none;
  background: #1c70d3;
}

.buttoncontacts:disabled {
  cursor: not-allowed;
  background: #555b69;
}

.success,
.error {
  text-align: center;
}

.success {
  color: greenyellow;
}

.error {
  color: tomato;
}

.mailcontact{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tabelaprecos{
    margin-top: 100px;
}

.tabelaprecos, #thprecos{
    align-items: center;
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#thprecos{
    background-color: rgb(241, 161, 115);
}

.tabelaprecos,#trprecos, #tdprecos{
    box-sizing: border-box;
    border: 2px solid gray;
    border-color: gray;
    border-collapse: collapse;
    width: 50%;
    height: 50px;
    font-size: 25px;
}

.TitlePrices{
    margin-top: 100px;
    text-align: center;
    position: relative;
    align-items: center;
    
}

.dwldbutton{
    margin-top: 20PX;
    margin-bottom: 40px;
    text-decoration: none;
}

#logoindex{
    float: left;
    position: relative;
    display: flex;
    height: 200px;
    

}

footer {
    position: fixed;
    text-align: center;
    color: aliceblue;
    background-color: rgb(241, 161, 115);
    opacity: 0.5;
    
    width: 100%;
    bottom: 0;
    left: 0;
}